In [1]:
import pandas as pd
import numpy as np

In [2]:
fastening = pd.read_excel('Fastening.xlsx')
fastening_final = fastening.drop('ArticleId', axis=1)
fastening_final

             ArticleName Fastening
0            80782 BLACK   Slip-on
1             40993 BLUE   Slip on
2            40113 BLACK   Lace Up
3       40113 DARK BROWN   Lace Up
4     4130/110  M. BROWN   Slip-on
...                  ...       ...
1754           67722 TAN  Lace-Ups
1755           67632 TAN  Lace-Ups
1756           67800 TAN  Lace-Ups
1757         67800 BLACK  Lace-Ups
1758         67255 BLACK   Slip-on

[1759 rows x 2 columns]

In [3]:
fastening_final['ArticleName'] = [i.split(" ")[0] for i in fastening_final['ArticleName']]
fastening_final

     ArticleName Fastening
0          80782   Slip-on
1          40993   Slip on
2          40113   Lace Up
3          40113   Lace Up
4       4130/110   Slip-on
...          ...       ...
1754       67722  Lace-Ups
1755       67632  Lace-Ups
1756       67800  Lace-Ups
1757       67800  Lace-Ups
1758       67255   Slip-on

[1759 rows x 2 columns]

In [4]:
list(pd.Series([i.upper() for i in fastening_final['Fastening']]).unique())

['SLIP-ON',
 'SLIP ON',
 'LACE UP',
 'LACE-UPS',
 'TOE GRIP SLIPPER',
 'SANDAL',
 'SLIPPER',
 'ANKLE BOOT',
 'PUMPS',
 'HALF BOOT',
 'MEN SHOE',
 'BUCKLE',
 'SANDAL SHOE',
 'BOOT',
 'DOUBLE MONK',
 'LACE-UP',
 'SLIPPERS',
 'VALCRO',
 "MONK SHOE'S",
 'BACK STRAP',
 'MONK']

In [5]:
fastening_final['Fastening'] = fastening_final['Fastening'].str.upper()
fastening_final

     ArticleName Fastening
0          80782   SLIP-ON
1          40993   SLIP ON
2          40113   LACE UP
3          40113   LACE UP
4       4130/110   SLIP-ON
...          ...       ...
1754       67722  LACE-UPS
1755       67632  LACE-UPS
1756       67800  LACE-UPS
1757       67800  LACE-UPS
1758       67255   SLIP-ON

[1759 rows x 2 columns]

In [6]:
fastening_final['Fastening'] = fastening_final['Fastening'].str.replace('SLIP ON', 'SLIP-ON')
fastening_final['Fastening'] = fastening_final['Fastening'].str.replace('LACE UP', 'LACE-UP')
fastening_final['Fastening'] = fastening_final['Fastening'].str.replace('LACE-UPS', 'LACE-UP')
fastening_final['Fastening'] = fastening_final['Fastening'].str.replace('SLIPPERS', 'SLIPPER')

In [7]:
list(fastening_final['Fastening'].unique())

['SLIP-ON',
 'LACE-UP',
 'TOE GRIP SLIPPER',
 'SANDAL',
 'SLIPPER',
 'ANKLE BOOT',
 'PUMPS',
 'HALF BOOT',
 'MEN SHOE',
 'BUCKLE',
 'SANDAL SHOE',
 'BOOT',
 'DOUBLE MONK',
 'VALCRO',
 "MONK SHOE'S",
 'BACK STRAP',
 'MONK']

In [8]:
len(fastening_final['Fastening'].unique())

17

In [10]:
fastening_final['Fastening'].value_counts()

SLIP-ON             972
LACE-UP             545
SLIPPER             120
SANDAL               49
VALCRO               22
BUCKLE               14
ANKLE BOOT           12
MEN SHOE              7
TOE GRIP SLIPPER      6
MONK                  2
HALF BOOT             2
DOUBLE MONK           2
SANDAL SHOE           2
BACK STRAP            1
PUMPS                 1
MONK SHOE'S           1
BOOT                  1
Name: Fastening, dtype: int64