In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel('ShoeType.xlsx')

In [4]:
df.drop(labels = ['ArticleId'],axis=1,inplace=True)

In [5]:
df.head(20)

             ArticleName  ShoeTypeName
0              62619 TAN  SLIP ON SHOE
1            62619 BROWN  SLIP ON SHOE
2              62620 TAN     LACE SHOE
3            62620 BLACK     LACE SHOE
4              62621 TAN     LACE SHOE
5            62621 BLACK     LACE SHOE
6            62622 BLACK     LACE SHOE
7              62622 TAN     LACE SHOE
8            62261 BLACK     LACE SHOE
9            62261 BROWN     LACE SHOE
10            62259  TAN     LACE SHOE
11           62555 BLACK  SLIP ON SHOE
12           62550 BLACK     LACE SHOE
13         62401 TAN+TAN    ANKLE BOOT
14           62510 BLACK       SLIPPER
15  62529 DRESS BLUE+TAN     LACE SHOE
16             62558 RED     LACE SHOE
17       62559 BROWN+TAN    ANKLE BOOT
18             62560 TAN  SLIP ON SHOE
19          62561 COGNAC  SLIP ON SHOE

In [6]:
df['ShoeTypeName'].value_counts()

SLIP ON SHOE        1329
LACE SHOE           1262
ANKLE BOOT           811
SLIPPER              628
SANDAL               288
MEN SHOE             191
HALF BOOT            171
TOE GRIP SLIPPER     133
LADY SHOES            93
LONG BOOT             33
BALLERINA             21
ROMAN SANDAL          19
PUMPS                  4
VELCRO SHOE            2
Name: ShoeTypeName, dtype: int64

In [8]:
def helper(row):
    try:
        row['Model'] = row['ArticleName'].split(' ')[0]
    except AttributeError:
        row['Model'] = row['ArticleName']
    return row
df = df.apply(helper,axis='columns')

In [9]:
df.head()

   ArticleName  ShoeTypeName  Model
0    62619 TAN  SLIP ON SHOE  62619
1  62619 BROWN  SLIP ON SHOE  62619
2    62620 TAN     LACE SHOE  62620
3  62620 BLACK     LACE SHOE  62620
4    62621 TAN     LACE SHOE  62621

In [11]:
df['Model'].unique()[0:100]

array(['62619', '62620', '62621', '62622', '62261', '62259', '62555',
       '62550', '62401', '62510', '62529', '62558', '62559', '62560',
       '62561', '9904/121', '9525/121', '59600', '62701', '62702',
       '62703', '56332', '4475/121', '62815', '62816', '60310', '61849',
       '61075', '61835', '57942', '61829', '86585', '57478', '12803/118',
       '61836', '62336', '67138', '67139', '67427', '67615', '62636',
       '62424', '62735', '62729', '62741', '62068', '62069', '62675',
       '62432', '62440', '62739', '61528', '62538', '62530', '61197',
       '86548', '67317', '7007', '66925', '65664', '67201', '65118',
       '60746', '59591', '61384', '7433/118', '60886', '67255', '67311',
       '67301', '66172', '59264', '66033', '66084', '86753', '67201BLACK',
       '83458', '7324/117', '7180/117', '7313/117', '4037', '4307',
       '88177', '8640', '67613', '66506', '67405', '65324', '65168',
       '65169', '4697', '67359', '67303', '67254', '67252', '56116',
       '64952', '62952', '65974', '66066'], dtype=object)

In [12]:
def helper(row):
    try:
        
        row['Final'] = re.split(r"[^a-zA-Z0-9\s]", row['Model'])[0]
    except:
        row['Final'] = row['Model']
    return row
df = df.apply(helper,axis = 'columns')

In [13]:
df.head()

   ArticleName  ShoeTypeName  Model  Final
0    62619 TAN  SLIP ON SHOE  62619  62619
1  62619 BROWN  SLIP ON SHOE  62619  62619
2    62620 TAN     LACE SHOE  62620  62620
3  62620 BLACK     LACE SHOE  62620  62620
4    62621 TAN     LACE SHOE  62621  62621

In [15]:
df['ShoeTypeName'].value_counts()

SLIP ON SHOE        1329
LACE SHOE           1262
ANKLE BOOT           811
SLIPPER              628
SANDAL               288
MEN SHOE             191
HALF BOOT            171
TOE GRIP SLIPPER     133
LADY SHOES            93
LONG BOOT             33
BALLERINA             21
ROMAN SANDAL          19
PUMPS                  4
VELCRO SHOE            2
Name: ShoeTypeName, dtype: int64

In [21]:
slip_on_shoe = df[df['ShoeTypeName'] == 'SLIP ON SHOE']
lace_shoe = df[df['ShoeTypeName'] == 'LACE SHOE']
ankle_boot = df[df['ShoeTypeName'] == 'ANKLE BOOT']
slipper = df[df['ShoeTypeName'] == 'SLIPPER']
sandal = df[df['ShoeTypeName'] == 'SANDAL']
men_shoe = df[df['ShoeTypeName'] == 'MEN SHOE']
half_boot = df[df['ShoeTypeName'] == 'HALF BOOT']
toe_grip_slipper = df[df['ShoeTypeName'] == 'TOE GRIP SLIPPER']
lady_shoe = df[df['ShoeTypeName'] == 'LADY SHOES']
long_boot = df[df['ShoeTypeName'] == 'LONG BOOT']
ballerina = df[df['ShoeTypeName'] == 'BALLERINA']
roman_sandal = df[df['ShoeTypeName'] == 'ROMAN SANDAL']
pumps = df[df['ShoeTypeName'] == 'PUMPS']
velcro_shoe = df[df['ShoeTypeName'] == 'VELCRO SHOE']

In [24]:
slip_on_shoe_list = list(slip_on_shoe['Final']) #1
lace_shoe_list = list(lace_shoe['Final']) #2
ankle_boot_list = list(ankle_boot['Final']) #3
slipper_list = list(slipper['Final']) #4
sandal_list = list(sandal['Final']) #5
men_shoe_list = list(men_shoe['Final']) #6
half_boot_list = list(half_boot['Final']) #7
toe_grip_slipper_list = list(toe_grip_slipper['Final']) #8
lady_shoe_list = list(lady_shoe['Final']) #9
long_boot_list = list(long_boot['Final']) #10
ballerina_list = list(ballerina['Final']) #11
roman_sandal_list = list(roman_sandal['Final']) #12
pumps_list = list(pumps['Final']) #13
velcro_shoe_list = list(velcro_shoe['Final']) #14

In [26]:
import os 
import shutil
folderName = 'Final'
if __name__ == "__main__": 
    for (root,dirs,files) in os.walk('Final', topdown=True):
        for i in files:
            if(i=='.DS_Store'):
                pass
            else:
                completePath = os.path.join(root,i)
                temp = i.split(' ')[0]
                #print(temp)
                if(temp in slip_on_shoe_list): #1 
                    original = completePath
                    target = 'globalFinal/slip_on_shoe/' + i
                    shutil.copyfile(original, target)
                    
                elif(temp in lace_shoe_list): #2
                    original = completePath
                    target = 'globalFinal/lace_shoe/' + i
                    shutil.copyfile(original, target)
                    
                elif(temp in ankle_boot_list): #3
                    original = completePath
                    target = 'globalFinal/ankle_boot/' + i
                    shutil.copyfile(original, target)
                    
                elif(temp in slipper_list): #4
                    original = completePath
                    target = 'globalFinal/slipper/' + i
                    shutil.copyfile(original, target)
                    
                elif(temp in sandal_list): #5
                    original = completePath
                    target = 'globalFinal/sandal/' + i
                    shutil.copyfile(original, target)
                    
                elif(temp in men_shoe_list): #6
                    original = completePath
                    target = 'globalFinal/men_shoe/' + i
                    shutil.copyfile(original, target)
                    
                elif(temp in half_boot_list): #7
                    original = completePath
                    target = 'globalFinal/half_boot/' + i
                    shutil.copyfile(original, target)
                    
                elif(temp in toe_grip_slipper_list): #8
                    original = completePath 
                    target = 'globalFinal/toe_grip_slipper/' + i
                    shutil.copyfile(original, target)
                    
                elif(temp in lady_shoe_list): #9
                    original = completePath
                    target = 'globalFinal/lady_shoe/' + i
                    shutil.copyfile(original, target)
                    
                elif(temp in long_boot_list): #10
                    original = completePath
                    target = 'globalFinal/long_boot/' + i
                    shutil.copyfile(original, target)
                    
                elif(temp in ballerina_list): #11
                    original = completePath
                    target = 'globalFinal/ballerina/' + i
                    shutil.copyfile(original, target)
                    
                elif(temp in roman_sandal_list): #12
                    original = completePath
                    target = 'globalFinal/roman_sandal/' + i
                    shutil.copyfile(original, target)
                    
                elif(temp in pumps_list): #13
                    original = completePath
                    target = 'globalFinal/pumps/' + i
                    shutil.copyfile(original, target)
                    
                elif(temp in velcro_shoe_list): #14
                    original = completePath
                    target = 'globalFinal/velcro_shoe/' + i
                    shutil.copyfile(original, target)