In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel('ShoeType.xlsx')

In [4]:
df.drop(labels = ['ArticleId'],axis=1,inplace=True)

In [5]:
df.head(20)

             ArticleName  ShoeTypeName
0              62619 TAN  SLIP ON SHOE
1            62619 BROWN  SLIP ON SHOE
2              62620 TAN     LACE SHOE
3            62620 BLACK     LACE SHOE
4              62621 TAN     LACE SHOE
5            62621 BLACK     LACE SHOE
6            62622 BLACK     LACE SHOE
7              62622 TAN     LACE SHOE
8            62261 BLACK     LACE SHOE
9            62261 BROWN     LACE SHOE
10            62259  TAN     LACE SHOE
11           62555 BLACK  SLIP ON SHOE
12           62550 BLACK     LACE SHOE
13         62401 TAN+TAN    ANKLE BOOT
14           62510 BLACK       SLIPPER
15  62529 DRESS BLUE+TAN     LACE SHOE
16             62558 RED     LACE SHOE
17       62559 BROWN+TAN    ANKLE BOOT
18             62560 TAN  SLIP ON SHOE
19          62561 COGNAC  SLIP ON SHOE

In [6]:
df['ShoeTypeName'].value_counts()

SLIP ON SHOE        1329
LACE SHOE           1262
ANKLE BOOT           811
SLIPPER              628
SANDAL               288
MEN SHOE             191
HALF BOOT            171
TOE GRIP SLIPPER     133
LADY SHOES            93
LONG BOOT             33
BALLERINA             21
ROMAN SANDAL          19
PUMPS                  4
VELCRO SHOE            2
Name: ShoeTypeName, dtype: int64

In [8]:
def helper(row):
    try:
        row['Model'] = row['ArticleName'].split(' ')[0]
    except AttributeError:
        row['Model'] = row['ArticleName']
    return row
df = df.apply(helper,axis='columns')

In [9]:
df.head()

   ArticleName  ShoeTypeName  Model
0    62619 TAN  SLIP ON SHOE  62619
1  62619 BROWN  SLIP ON SHOE  62619
2    62620 TAN     LACE SHOE  62620
3  62620 BLACK     LACE SHOE  62620
4    62621 TAN     LACE SHOE  62621

In [ ]:
df['Model'].