In [211]:
import pandas as pd
import numpy as np

In [212]:
df = pd.read_excel('article.xlsx',skiprows = [0])

In [213]:
df.head()

   Unnamed: 0  ArticleId             ArticleName M_L_C Shoe Type
0         NaN        603                  10 MIX     M    SANDAL
1         NaN       2779                  10 MIX     M    SANDAL
2         NaN       1636  10 MIX 2ND GRADE STOCK     M    SANDAL
3         NaN       3388          1059 DARK BLUE     L      SHOE
4         NaN       3389                1059 TAN     L      SHOE

In [214]:
df.shape

(4979, 5)

In [215]:
df.iloc[0:5]

   Unnamed: 0  ArticleId             ArticleName M_L_C Shoe Type
0         NaN        603                  10 MIX     M    SANDAL
1         NaN       2779                  10 MIX     M    SANDAL
2         NaN       1636  10 MIX 2ND GRADE STOCK     M    SANDAL
3         NaN       3388          1059 DARK BLUE     L      SHOE
4         NaN       3389                1059 TAN     L      SHOE

In [216]:
df = df.iloc[:,1:5]

In [217]:
df.head()

   ArticleId             ArticleName M_L_C Shoe Type
0        603                  10 MIX     M    SANDAL
1       2779                  10 MIX     M    SANDAL
2       1636  10 MIX 2ND GRADE STOCK     M    SANDAL
3       3388          1059 DARK BLUE     L      SHOE
4       3389                1059 TAN     L      SHOE

In [218]:
df.groupby('Shoe Type')['Shoe Type'].count()

Shoe Type
BOOT       1014
ND           25
SANDAL      307
SHOE       2872
SLIPPER     761
Name: Shoe Type, dtype: int64

In [219]:
def helper(row):
    try:
        row['Model'] = row['ArticleName'].split(' ')[0]
    except AttributeError:
        row['Model'] = row['ArticleName']
    return row
df = df.apply(helper,axis='columns')

In [228]:
df.shape

(4979, 5)

In [235]:
df.head()

   ArticleId             ArticleName M_L_C Shoe Type Model
0        603                  10 MIX     M    SANDAL    10
1       2779                  10 MIX     M    SANDAL    10
2       1636  10 MIX 2ND GRADE STOCK     M    SANDAL    10
3       3388          1059 DARK BLUE     L      SHOE  1059
4       3389                1059 TAN     L      SHOE  1059

In [227]:
df['Model'].unique()[0:100]

array(['10', '1059', '10988', '11', '1118/117', '1138/108', '12',
       '1280/121', '12803', '12803/118', '13', '14', '15', '15120',
       '15247', '15339', '15426', '15430', '15431', '15509', '15553',
       '15862', '16', '16089', '16187', '16189', '16496', '17', '17073',
       '1753/115', '1785/115', '18', '1841/115', '1843/115', '19', '20',
       '2031/115', '2033/115', '204/116', '2055/117', '206/116',
       '2070/117', '2084/115', '21', '2107/115', '2112/115', '2122/115',
       '2199/118', '22', '23', '2309/109', '2312/108', '2314/108',
       '2325/108', '2327/115', '2328/115', '2333/115', '2334/115',
       '2337/115', '2349/115', '236/116', '237/116', '24', '2489/115',
       '2490/115', '25', '2511/115', '2577/115', 2578, '26', '2623/118',
       '2651/115', '27', '2712/115', '2717/115', '2718/115', '2719/115',
       '2721/115', '2722/115', '2723/115', '2724/115', '2728/115',
       '2738/115', '2739/115', '2755(53590)', '2756(53747)', '28',
       '2804/117', '29', '2924', '2926/112', '2983/108', '2984/110', '30',
       '3072/118', '3098/111', '3098/117', '31', '3136/116', '3144'],
      dtype=object)

In [248]:
def helper(row):
    try:
        
        row['Final'] = re.split(r"[^a-zA-Z0-9\s]", row['Model'])[0]
    except:
        row['Final'] = row['Model']
    return row
df = df.apply(helper,axis = 'columns')

In [249]:
boot = df[df['Shoe Type'] == 'BOOT']
sandal = df[df['Shoe Type'] == 'SANDAL']
shoe = df[df['Shoe Type'] == 'SHOE']
slipper = df[df['Shoe Type'] == 'SLIPPER']
nd = df[df['Shoe Type'] == 'ND']

In [275]:
boot_list = list(boot['Final'])
sandal_list = list(sandal['Final'])
shoe_list = list(shoe['Final'])
slipper_list = list(slipper['Final'])
nd_list = list(nd['Final'])

1014

str

In [282]:
import os 
import shutil
folderName = 'Global'
if __name__ == "__main__": 
    for (root,dirs,files) in os.walk('Global', topdown=True):
        for i in files:
            if(i=='.DS_Store'):
                pass
            else:
                completePath = os.path.join(root,i)
                temp = i.split(' ')[0]
                print(temp)
                if(temp in boot_list):
                    original = completePath
                    target = 'globalCheck/boot/' + i
                    shutil.copyfile(original, target)
                elif(temp in sandal_list):
                    original = completePath
                    target = 'globalCheck/sandal/' + i
                    shutil.copyfile(original, target)
                elif(temp in shoe_list):
                    original = completePath
                    target = 'globalCheck/shoe/' + i
                    shutil.copyfile(original, target)
                elif(temp in slipper_list):
                    original = completePath
                    target = 'globalCheck/slipper/' + i
                    shutil.copyfile(original, target)
                elif(temp in nd_list):
                    original = completePath
                    target = 'globalCheck/nd/' + i
                    shutil.copyfile(original, target)
                
                    
                    
                
                
                    
                    
                    
                    
#             if(i=='.DS_Store'):
#                 pass
#             else:
#                 completePath = os.path.join(root,i)
#                 if('RIGHT' in i.upper()):
#                     original = completePath
#                     target = 'globalCheck/RIGHT/' + i
#                     shutil.copyfile(original, target)
#                 elif('PAIR' in i.upper()):
#                     original = completePath
#                     target = 'globalCheck/PAIR/' + i
#                     shutil.copyfile(original, target)
#                 elif('SOLE' in i.upper()):
#                     original = completePath
#                     target = 'globalCheck/SOLE/' + i
#                     shutil.copyfile(original, target)
#                 elif('CLOSE' in i.upper()):
#                     original = completePath
#                     target = 'globalCheck/CLOSE/' + i
#                     shutil.copyfile(original, target)
#                 elif('LEFT' in i.upper()):
#                     original = completePath
#                     target = 'globalCheck/LEFT/' + i
#                     shutil.copyfile(original, target)

#                 if('MAIN REVERT' in i.upper()):
#                     original = completePath
#                     target = 'globalCheck/MAIN-REVERT/' + i
#                     shutil.copyfile(original, target)
#                 elif('MAIN' in i.upper()):
#                     original = completePath
#                     target = 'globalCheck/MAIN/' + i
#                     shutil.copyfile(original, target)
                
#                 if('SIDE BACK' in i.upper()):
#                     original = completePath
#                     target = 'globalCheck/SIDE-BACK/' + i
#                     shutil.copyfile(original, target)
#                 elif('BACK' in i.upper()):
#                     original = completePath
#                     target = 'globalCheck/BACK/' + i
#                     shutil.copyfile(original, target)
#                 elif('SIDE' in i.upper()):
#                     original = completePath
#                     target = 'globalCheck/SIDE/' + i
#                     shutil.copyfile(original, target)

65124
65124
65124
65124
65124
65124
65124
65862
65862
65862
65862
65862
65862
65862
61829
61829
61829
61829
61829
61829
61829
64953
64953
64953
64953
64953
64953
64953