In [1]:
import pandas as pd
import numpy as np

In [31]:
df = pd.read_excel('article.xlsx',skiprows = [0])

In [32]:
df.head()

   Unnamed: 0  ArticleId             ArticleName M_L_C Shoe Type
0         NaN        603                  10 MIX     M    SANDAL
1         NaN       2779                  10 MIX     M    SANDAL
2         NaN       1636  10 MIX 2ND GRADE STOCK     M    SANDAL
3         NaN       3388          1059 DARK BLUE     L      SHOE
4         NaN       3389                1059 TAN     L      SHOE

In [33]:
df.shape

(4979, 5)

In [35]:
df.iloc[0:5]

   Unnamed: 0  ArticleId             ArticleName M_L_C Shoe Type
0         NaN        603                  10 MIX     M    SANDAL
1         NaN       2779                  10 MIX     M    SANDAL
2         NaN       1636  10 MIX 2ND GRADE STOCK     M    SANDAL
3         NaN       3388          1059 DARK BLUE     L      SHOE
4         NaN       3389                1059 TAN     L      SHOE

In [37]:
df = df.iloc[:,1:5]

In [60]:
df.head()

   ArticleId             ArticleName M_L_C Shoe Type
0        603                  10 MIX     M    SANDAL
1       2779                  10 MIX     M    SANDAL
2       1636  10 MIX 2ND GRADE STOCK     M    SANDAL
3       3388          1059 DARK BLUE     L      SHOE
4       3389                1059 TAN     L      SHOE

In [56]:
df.groupby('Shoe Type')['Shoe Type'].count()

Shoe Type
BOOT       1014
ND           25
SANDAL      307
SHOE       2872
SLIPPER     761
Name: Shoe Type, dtype: int64

In [149]:
boot = df[df['Shoe Type'] == 'BOOT']
sandal = df[df['Shoe Type'] == 'SANDAL']
shoe = df[df['Shoe Type'] == 'SHOE']
slipper = df[df['Shoe Type'] == 'SLIPPER']
nd = df[df['Shoe Type'] == 'ND']

In [150]:
print(boot.shape)
print(sandal.shape)
print(shoe.shape)
print(slipper.shape)
print(nd.shape)

(1014, 4)
(307, 4)
(2872, 4)
(761, 4)
(25, 4)

In [151]:
slipper.head()

    ArticleId      ArticleName M_L_C Shoe Type
6         604           11 MIX     M   SLIPPER
9         359  1138/108  BROWN     L   SLIPPER
10        358    1138/108  RED     L   SLIPPER
38       1101   16 MIX CHAPPAL     M   SLIPPER
64       1127           20 MIX     M   SLIPPER

In [152]:
def helper(row):
    try:
        row['Model'] = row['ArticleName'].split(' ')[0]
    except AttributeError:
        row['Model'] = row['ArticleName']
    return row
slipper = slipper.apply(helper,axis='columns')

In [153]:
slipper.head()

    ArticleId      ArticleName M_L_C Shoe Type     Model
6         604           11 MIX     M   SLIPPER        11
9         359  1138/108  BROWN     L   SLIPPER  1138/108
10        358    1138/108  RED     L   SLIPPER  1138/108
38       1101   16 MIX CHAPPAL     M   SLIPPER        16
64       1127           20 MIX     M   SLIPPER        20

In [155]:
slipper['Model'].unique()

array(['11', '1138/108', '16', '20', '41002', '43752', '46337', '46822',
       '51107', '51109', '54382', '58942', '59263', '59264', '59265',
       '59536', '59537', '59637', '60523', '60547', '60963', '61022',
       '61047', '61052', '61075', '61202', '61276', '61485', '61521',
       '61528', '61529', '62173', '62174', '62177', '62224', '62268',
       '62510', '62511', '62518', '62524', '62526', '62527', '62536',
       '62540', '62541', '62553', '62564', '62570', '63304', '63484',
       '63496', '63594', '63597', '63609', '63610', '63615', '63628',
       '63705', '63705(63702)', '63881', '64096', '64199', '64284',
       '64304', '64344', '64346', '64610', '64656', '64694', '64697',
       '64698', '64953', '65053', '65124', '65125', '65202', '65205',
       '65941', '65946', '66484', '66922', '66923', '66924', '66925',
       '67252', '67254', '67303', '67359', '67404', '67405', '67422',
       '67426', '67427', '67617', '67619', '67620', '67621', '67622',
       '67623', '80487', '81043', '81066', '81067', '81108', '81581',
       '81582', '81584', '81670', '81777', '81780', '81795', '81798',
       '81961', '81961-A', '81962', '81962-A', '81963', '81963-A',
       '81974', '81975', '81976', '82000', '82002', '82055', '82217',
       '82218', '82235', '82269', '82270', '82271', '82348', '82349',
       '82463', '82464', '82467', '82468', '82473', '82481', '82509',
       '82521', '82541', '82544', '82614', '82615', '82620', '82652',
       '82657', '82658', '82694', '82698', '82699', '82702', '82703',
       '82720', '82734', '82739', '82766', '82772', '82885', '82886',
       '82935', '82941', '82954', '83018', '83019', '83137', '83281',
       '83361', '83362', '83372', '83382', '83383', '83414', '83473',
       '83505', '83529', '83666', '83677', '83678', '83679', '83683',
       '83684', '83685', '83686', '83687', '83705', '83757', '83770',
       '83771', '83802', '83819', '83820', '83822', '83827', '83868',
       '84492', '84523', '84528', '84529', '84530', '85430', 85529,
       '85583', '85652', '85654', '85672', '85702', '85714', '85741',
       85742, '85742', '85743', '85744', '85745', '85746', '85747', 85750,
       '85750', '85758', '85760', '85764', '85765', '85766', '85874',
       '85877', '85878', '85884', '85953', '85982', '85996', '86090',
       '86116', '86117', '86132', '86136', '86137', '86139', '86140',
       '86142', '86143', '86176', '86177', '86178', 86192, '86192',
       '86193', '86194', '86198', '86200', '86207', '86208', '86209',
       '86220', '86221', '86222', '86334', '86336', '86340', '86414',
       '86415', '86416', '86421', '86422', '86452', '86454', '86456',
       '86459', '86471', '86496', '86502', '86508', '86510', '86534',
       '86559', '86562', '86569', '86571', '86834', '86835', '86838',
       '86860', '86890', '86891', '86892', '86894', '86898', '86909',
       '86929', '86987', '86992', '87025', '87027', '87048', '87049',
       '87050', '87051', '87052', '87053', '87054', '87055', '87056',
       '87057', '88118', '88122', '88125', '88131', '88138', '88145',
       '88148', '88161', '88162', '88163', '88164', '88165', '88166',
       '88167', '88169', '88189', '88190', '88191', '88192', '88193',
       '88194', '88214', '88237', '88238', '88253', '88261', '88268',
       '88279', '88280', '88285', '88329', '88392', '88401', '88402',
       '88416', '88417', '88418', '88420', '88421', '88422', '88428',
       '88437', '88438', '88439', '88441', '88442', '88443', '88470',
       '88471'], dtype=object)

In [156]:
def helper(row):
    try:
        
        for i in row['Model']:
            new = ''
            if(i.isdigit()==False):
                break
            else:
                new = new + i
    except TypeError:
        row['New'] = i
        
    row['New'] = new
check = slipper.apply(helper,axis='columns')

TypeError: ("'int' object is not iterable", 'occurred at index 3753')